<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AccessDB" connectionString="Provider=Microsoft.ACE.Oledb.15.0;Data Source=.\Data\InvoiceGen.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
