<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AccessDB" connectionString="Provider=Microsoft.ACE.Oledb.15.0;Data Source=.\Data\InvoiceGen.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <appSettings>
    <add key="owin:HandleAllRequests" value="true"/>
    <add key="owin:AppStartup" value="DavidLievrouw.InvoiceGen.Startup"/>
  </appSettings>
</configuration>